html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
}

.logo-shadow {
    filter: drop-shadow(0 0 8px rgba(212, 175, 55, 0.3));
}

@keyframes ken-burns {
    0% {
        transform: scale(1) translate(0, 0);
    }

    100% {
        transform: scale(1.15) translate(-1%, -2%);
    }
}

.animate-ken-burns {
    animation: ken-burns 25s infinite alternate ease-in-out;
}

@keyframes fall-light {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        transform: translate(var(--tx), 100vh) scale(0.5);
        opacity: 0;
    }
}

.animate-fall-light {
    animation-name: fall-light;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}